//Estilos para las paginas de Arquitectura Horizontal y Arquitectura Orgánica, seccion de la portada
.headerProyect{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    filter: brightness(50%);
}
.tituloP{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    .tituloP__principal{
        font-size: 4.5rem;
        text-transform: uppercase;
        margin:0;
        text-align: left;
    }
    .parrafoGaleria{
        color: $bla;
        font-size: 2.2rem;
        margin: 1rem 0;
        text-align: left;
    }
    .frenteB{
        width: 20rem;
    }
}
//Estilos de flecha hacia abajo con animacion.
.flecha{
    position: absolute;
    @include centrado;
    animation-name: fmove;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    a{
        padding: 2rem 1rem;
    }
    .flecha__img{
        width: 3rem;
    }
}

@keyframes fmove{
    0% { top:60%;}
    50% { top:65%;}
    100% { top:70%;}
}

//Fin de estilos de la flecha con animación.

//Estilos para la seccion con informacion de los proyectos de Arquitectura Horizontal y Arquitectura Orgánica
.grid{
    width: 80%;
    margin: auto;
    border-left: 1px solid rgba(194, 188, 188, 0.514);
    border-right: 1px solid rgba(194, 188, 188, 0.514);
}
.bloque{
    display: grid;
    grid-template-columns: 0.4fr 1fr 0.55fr;
    width: 90%;
    max-width: 150rem;
    margin:10% auto;
    column-gap: $separacion/3;
    a{
        color: $neg;
    }
    .bloque__foto{
        grid-column: 2/3;
        overflow: hidden;
        img{
            object-position: center;
            object-fit: cover;
            transition: all 1.5s ease; 
            transition-delay: 0s;
            width: 100%;
            max-height: 80vh;
            min-height: 55rem;
            &:hover{
                transform: scale(1.10);
            } 
        }
    }
    .bloque__descripcion{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 1rem;
        p{
            text-align: left;
        }
    }
}
.uno{
    grid-template-columns: 1fr 1fr 0.3fr;
    grid-auto-flow: column;
    margin-top: 10%;
    .descripcion--reverse{
        grid-column: 1/2;
    }
}
.dos{
    grid-template-columns: 0.7fr 1fr 0.5fr;
    grid-auto-flow: column;
    margin-top: 10%;
    .descripcion--reverse{
        grid-column: 1/2;
    }
}

@media (max-width:1200px) {
    .grid{
        width: 100%;
        border: none;
    }
}
@media (max-width:900px) {
    .bloque{
        grid-template-columns: 0.7fr 1fr;
        .bloque__foto{
            img:hover{
                transform: none;
            }
        }
    }
    .bloque__foto, .bloque__descripcion{
        grid-row: 2/3;
    }
    .uno{
        grid-template-columns: 1fr 0.7fr;
        .descripcion--reverse{
            grid-column: 2/3;
        }
        .bloque__foto{
            grid-column: 1/2;
        }
    }
    .tres{
        grid-template-columns: 1fr 0.7fr;
        align-items: center;
        .descripcion--reverse{
            grid-column: 2/3;
        }
        .bloque__foto{
            grid-column: 1/2;
        }
    }
}
@media (max-width:720px) {
    .tituloP{
        top: 75%;
        .tituloP__principal{
            font-size: 2.5rem;
        }
    }
    .bloque{
        display: block;
        border-bottom: 1px solid $gris;
        &:last-child{
            border: none;
        }
        h3{
            padding: 1rem 0;
        }
    }
    .flecha{
        bottom: 0;
    }
}
@media(max-width:380px){
    .tituloP .tituloP__principal, .tituloP .parrafoGaleria{
        font-size: 1.8rem;
    }
}